body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}
h1 {
    color: black;
}
h2 {
    color: gold;
}

header {
    background-color: transparent;
    color:  white;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    color: purple;
    font-size: x-large;
    flex: 1; 
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}



body.login-page {
    background-image: url('pexels-matheus-bertelli-573315.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

body.contact-page {
    background-image: url('jordans black.jpg'); 
    background-repeat: no-repeat;
    background-position: center
}
body.home-page{
    background-image: url('pexels-melvin-buezo 22.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body.pricing-page{
    background-image: url('pexels-nathan-j-hilton-airforce.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body.product-page{
    background-image: url('pexels-ray-piedra-1478442 vanny.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body.testimonials-page{
    background-image: url('pexels-terrance-barksdale-8278491.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav ul li a.active {
    color: red; 
}
